<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Chat | ChatApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="chat">
    <div class="chat__sidebar">
      <h3>People</h3>
      <div id="users"></div>
    </div>

    <div class="chat__main">
      <ol id="messages" class="chat__messages"></ol>

      <div class="chat__footer">
        <form id="messageForm">
          <input name="message"
                 type="text"
                 autofocus
                 autocomplete="off"
                 placeholder="Type your message here" />
          <button>Send</button>
        </form>
        <button id="sendLocation">Send Location</button>
      </div>
    </div>

    <script id="message-template" type="text/template">
      <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
          <p>{{text}}</p>
        </div>
      </li>
    </script>

    <script id="location-message-template" type="text/template">
      <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
          <p>
            <a href="{{url}}" target="_blank">My current location</a>
          </p>
        </div>
      </li>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/libs/moment.js" type="text/javascript"></script>
    <script src="/js/libs/mustache.js" type="text/javascript"></script>
    <script src="/js/libs/deparam.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/js/chat.js" type="text/javascript"></script>
  </body>
</html>
